/* first section css */
section{
    width: 1340px;
    height: 494px;
}
.half-width {
    width: 444px;
    height: 490px;
    float: left;
    margin: 0px 110px;
}
.half-width img{
    width: 426px;
    float: right;
}
.first-div-text{
    width: 550px;
    border-left: 9px solid;
    border-color: #FF5959;
    border-image-slice: 1;
    padding: 0px 10px;
    
}
.first-div-text h1{
    font-size: 45px;
    font-family: 'Yeseva One', cursive;
    font-weight: 300;
    line-height: 24px ;
    padding: 5px 0px;
    color: #333333;
}
.half-width p{
    padding-bottom: 15px;
    font-size: 20px;
    color: #434343;
    font-family: 'Poppins', sans-serif;
}
.half-width h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #434343;
}
.anchor-btn{
    text-decoration: none;
    padding: 10px 32px;
    background-color: #FF5959;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
}
.anchor-btn:hover{
    color: rgb(61, 60, 60);
    background-color: aqua;
    transition:0.3s cubic-bezier(0.06, 0.35, 0.6, 0.95);
}
#mission{
    color: #FFAD5A;
}

/* second section css */
.second-sec-heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #13103A;
}
span{
    color: #FFAD5A;
}
.mission-sec {
    display: flex;
    align-items: center;
    width: 80%;
    height: 290px;
    margin-left: 5%;
    background-color: aqua;
    padding: 50px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif; 
    margin-right: 20%;
    line-height: 20px;
}
.mission-div img {
    width: 70px;
}